body {
    margin-bottom: 500px;
}
.a12 {
    display: flex;
}
.box1 {
    background-color: lightblue;
    width:200px; 
}
.box2 {
    background-color: lightpink;
    width: 75px;
}

.b12 {
    display: flex; 
}

.item1 {
    width: 50px; 
    background-color: lightblue;
}
.item2 {
    flex: 1; 
    background-color: lightpink;
}
.item3 {
    width: 75px; 
    background-color: lightblue;
}



.c12 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.item {
    background-color: pink;
}

.d12 {
    display: flex; 
    border-width: 1px; 
    border-style: solid;
    border-color: gray;
    height: 54px; 
    align-items: center;
    justify-content: space-between;
}

.items {
    background-color: pink;
}

